@import "fonts.css";

html, body {
	height: 100%;
}

body {
	color: #6c6c6c;
	font-family: "Proxima-Nova-Condensed-Regular";
	font-size: 16px;
}

a {color: #3b8d16;}

a:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #383838;
}

h1 {
	font-size: 3.125em;
}

h2 {
	font-size: 2.500em;
}

h3 {
	font-size: 1.875em;
}

h4 {
	font-size: 1.625em;
}

.wrapper {
	height: auto !important;
	min-height: 100%;
	overflow: hidden;
}

.media-object {
	width: 145px;
}

.text-black {
	color: #383838;
}

.font-size-20 {
	font-size: 1.250em;
}

.cl-menu-open {
	margin-bottom: 30px;
}

.cl-header-logo {
	background-color: #69ad34;
	height: 34px;
	line-height: 34px;
	width: 100%;
	text-align: center;
}

.cl-in-right-background {
	box-sizing: content-box;
	background-color: #faf9d8;
	height: 100%;
	position: absolute;
	z-index: 0;
	padding-right: 200%;
	left: 0;
	top: 0;
}

.cl-right-content {
	position: relative;
	z-index: 1;
}

.cl-right-content-separator-link {
	border: 0;
	border-bottom: 1px solid #ffffff;
}

.cl-header-nav-container {
	background-color: #77bf1f;
	color: #ffffff;
	font-size: 1.125em;
	line-height: 30px;
}

.cl-header-nav {
	list-style: none;
	margin: 0 0 0 -10px;
	padding: 0;
}

.cl-header-nav li {
	display: inline-block;
}

.cl-header-nav > li.active {
	background-color: #6b9f19;
}

.cl-header-nav li a {
	color: #ffffff;
	padding-left: 7px;
	padding-right: 7px
}

.cl-header-nav > li > a:hover {
	color: #3b8d16;
}

.cl-header-nav li .cl-sub-menu {
	background-color: #6b9f19;
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
}

.cl-header-nav li .cl-sub-menu ul {
	list-style: none;
	display: none;
}

.cl-header-nav li .cl-sub-menu ul li a {
	color: #383838;
	font-size: 1.000em;
}

.cl-header-nav li .cl-sub-menu ul li.active a {
	color: #ffffff;
	text-decoration: none;
}

.cl-header-nav li.active .cl-sub-menu {
	height: auto;
}

.cl-header-nav li.active .cl-sub-menu ul {
	display: block;
}

.cl-header-phone {
	background-color: #c7e036;
	line-height: 30px;
	color: #3b8d16;
	font-size: 0.875em;
	padding-left: 10px;
	padding-right: 10px;
}

.cl-title-container {
	background: url(../images/header-title-bg.jpg) no-repeat top center;
	min-height: 127px;
	height: 127px;
	display: table;
	width: 100%;
}

.cl-title-container h1 {
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 36px;
	display: table-cell;
	vertical-align: middle;
}

.cl-description-page {
	padding: 45px 0;
	font-size: 1.125em;
}

.cl-bg-light-yellow-gold {
	background-color: #faf9d8;
}

.cl-list-icons {
	color: #6c6c6c;
	font-size: 1.125em;
	line-height: 1.125em;
	display: table;
}

.cl-list-icons .cl-list-icons__item {
	position: relative;
	display: table-row;
}

.cl-list-icons .cl-list-icons__item div {
	display: table-cell;
	padding-bottom: 15px;
}

.cl-list-icons__image {
	width: 60px;
}

.cl-list-icons__text {
	vertical-align: middle;
}

.cl-checked-list .cl-list-icons__image {
	text-align: center;
}

.cl-checked-icon {
	background: url(../images/list-checked.png);
	width: 19px;
	height: 18px;
	display: inline-block;
}

.cl-content-yellow-separator {
	border-width: 4px;
	border-color: #faf9d8;
}

.cl-content-white-separator {
	border-width: 4px;
	border-color: #ffffff;
}

.cl-item-solutions {
	color: #6c6c6c;
}

.cl-item-solutions:hover {
	color: #000000;
}

.cl-item-solutions p {
	line-height: 1.125em;
	font-size: 1.125em;
}

.cl-item-solutions h4 {
	letter-spacing: -0.5px;
}

.cl-item-solutions:hover h4 {
	text-decoration: underline;
}

.cl-item-solutions,
.cl-item-solutions:hover {
	text-decoration: none;
}

.cl-image-col-4 {
	height: 122px;
	width: 122px;
	border-radius: 50%;
	position: relative;
	margin: 10px auto;
}

.cl-item-solutions:hover .cl-image-col-4 {
	background-color: #dfd917;
}

.cl-item-solutions:hover .cl-image-col-4 svg {
	filter: invert(100%) brightness(600%);
	-webkit-filter: invert(100%) brightness(600%);
}

.cl-image-col-4 svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.cl-right-content__color-container {
	margin-top: 20px;
}

.cl-right-content__color-container .cl-right-content__body {
	padding: 20px 25px;
}

.cl-right-content__yellow-container .cl-right-content__body {
	background-color: #dfd917;
	color: #383838;
}

.cl-right-content__green-container .cl-right-content__head {
	background-color: #d3edc6;
	color: #383838;
	font-size: 1.875em;
	line-height: 1.000em;
	padding: 12px 20px;
}

.cl-right-content__hard-green-container .cl-right-content__body {
	background-color: #3b8d16;
	color: #ffffff;
	font-size: 1.000em;
	line-height: normal;
	border-radius: 4px;
}

.cl-right-content__hard-green-container .icon_vashe_voznagrazhdenie {
	height: 155px;
}

.cl-right-content__green-container .cl-right-content__body {
	background-color: #ddf5d1;
}

.cl-right-content__green-container .cl-right-content__body .cl-list-icons {
	color: #6c6c6c;
}

.cl-right-content__title {
	font-size: 1.563em;
}

.btn {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.250em;
	line-height: 1.250em;
	color: #383838;
	background-color: #dfd917;
	box-shadow: 3px 2px 0 #4ca821;
	padding-right: 32px;
	padding-left: 40px;
	padding-top: 15px;
	padding-bottom: 11px;
	margin-bottom: 15px;
}

.btn:hover {
	text-decoration: none;
	color: #383838;
}

.btn-big {
	padding-left: 91px;
}

.btn-text {
	padding-left: 54px;
	padding-right: 54px;
	height: 57px;
	font-size: 1.563em;
	line-height: 1.938em;
}

.cl-phone-sms-text {
	border: 1px solid #61d21d;
	border-radius: 3px 3px 3px 3px;
	padding: 18px 45px 18px 15px;
	width: 378px;
	height: 196px;
	position: relative;
}

.cl-phone-sms-text:before {
	content: "";
	display: block;
	position: absolute;
	width: 316px;
	height: 158px;
	border-left: 1px solid #61d21d;
	border-right: 1px solid #61d21d;
}

.cl-phone-sms-text:after {
	content: "";
	display: block;
	position: absolute;
	width: 28px;
	height: 28px;
	border: 1px solid #61d21d;
	border-radius: 50%;
	top: 0;
	right: 8px;
	bottom: 0;
	margin: auto;
}

.cl-phone-sms-text .table-cell {
	display: table-cell;
	vertical-align: middle;
	width: 316px;
	height: 158px;
	padding: 0 15px 0 20px;
	color: #383838;
	line-height: 18px;
}

.cl-numeric:before {
	content: attr(data-number);
	color: #61d21d;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	display: inline-block;
	border: 3px solid #dfd917;
	text-align: center;
	line-height: 1.875em;
	font-size: 1.250em;
	margin-right: 15px;
}

.cl-circle-yellow {
	background-color: #dfd917;
	width: 82px;
	height: 82px;
	border-radius: 50%;
	position: relative;
}

.cl-circle-white {
	background-color: #ffffff;
	width: 82px;
	height: 82px;
	border-radius: 50%;
	position: relative;
}

.cl-big-circle {
	width: 143px;
	height: 143px;
	margin: 0 auto 30px auto;
}

.cl-middle-circle {
	width: 103px;
	height: 103px;
	margin: 0 auto;
}

.cl-margin-top-30 {
	margin-top: 40px;
}

.cl-circle-white svg,
.cl-circle-yellow svg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.cl-margin-center {
	margin: 30px auto;
}

.cl-table > thead > tr > td,
.cl-table > tbody > tr > td {
	padding-left: 80px;
}

.cl-table thead td {
	font-size: 2.188em;
	background-color: #faf9d8;
}

.cl-table-sm {
	color: #383838;
}

.cl-table-sm.cl-table thead td {
	font-size: 1.500em;
}

.cl-table-sm.cl-table > thead > tr > td,
.cl-table-sm.cl-table > tbody > tr > td {
	padding-left: 40px;
}

.cl-table thead td p {
	font-size: 1.500em;
}

.cl-table thead td p small {
	font-size: 1.000em;
	display: block;
}

.cl-table > tbody > tr > td {
	font-size: 2.500em;
	border-top-color: #faf9d8;
}

.cl-table-sm.cl-table > tbody > tr > td {
	font-size: 1.875em;
}

.cl-footer-correct {
	height: 250px;
}

.cl-footer-container {
	margin-top: -250px;
	border-top: 4px solid #dfd917;
	background: linear-gradient(to left, #4ca821 0%, #4ca821 50%, #449b1c 50%);
	height: 250px;
}

.cl-footer-logo-container {
	width: 235px;
	background-color: #449b1c;
	height: 206px;
	position: relative;
	margin-left: -15px;
}

.cl-footer-logo {
	background: url(../images/cl-footer-logo.png) no-repeat 0 0;
	width: 127px;
	height: 75px;
	display: inline-block;
	margin: auto;
	right: 36px;
	position: absolute;
	top: 0;
	bottom: 0;
}

.cl-footer-nav-container {
	background-color: #4ca821;
	height: 206px;
}

.cl-footer-nav {
	list-style: none;
	margin: 0 0 0 35px;
	padding: 0;
	font-size: 1.125em;
}

.cl-footer-nav > li {
	display: block;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	line-height: 56px;
}

.cl-footer-nav > li > a {
	color: #9eec7a;
}

.cl-footer-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.875em;
	line-height: 1.250em;
}

.cl-footer-nav ul > li > a {
	color: #a0de83;
}

.cl-footer-nav > li a:hover {
	color: #ffffff;
}

.cl-copyright-container {
	color: #ffffff;
	font-size: 0.750em;
	line-height: 2.500em;
	background-color: #3b8d16;
}

.cl-color-container {
	color: #ffffff;
	padding: 30px;
}

.cl-color-container h4 {
	color: #ffffff;
	margin-top: 0;
}

.cl-color-container p {
	font-size: 1.125em;
	line-height: 1.125em;
	opacity: 0.7;
}

.cl-color-container .cl-big-circle {
	margin: 0 auto;
}

.cl-color-container a {
	color: #ffffff;
	text-decoration: underline;
}

.cl-color-container a:hover {
	text-decoration: none;
}

.cl-green-container {
	background-color: #3b8d16;
}

.cl-wet-tropical-forest-container {
	background-color: #168d75;
}

.cl-moray-container {
	background-color: #16808d;
}

.cl-color-container-description {
	padding: 20px 30px;
	margin-bottom: 20px;
}

.cl-color-container-description h4 {
	line-height: 20px;
	margin-bottom: 30px;
}

.cl-color-container-description .cl-list-icons__image {
	width: 40px;
}

.cl-color-container-description .cl-checked-list .cl-list-icons__image {
	text-align: left;
}

.cl-green-container-description {
	background-color: #ddf5d1;
}

.cl-wet-tropical-forest-container-description {
	background-color: #d1f5e3;
}

.cl-moray-container-description {
	background-color: #d1f5e3;
}

.cl-table-color-container {
	margin: -20px -30px 0 -30px;
}


.cl-table-sm.cl-table.cl-table-green thead td {
	color: #ffffff;
	font-size: 1.250em;
	line-height: 1.250em;
	background-color: #2e760d;
}

.cl-table-sm.cl-table.cl-table-green > thead > tr > td:first-child,
.cl-table-sm.cl-table.cl-table-green > tbody > tr > td:first-child {
	width: 45%;
}

.cl-table-sm.cl-table.cl-table-green > thead > tr > td,
.cl-table-sm.cl-table.cl-table-green > tbody > tr > td {
	padding-left: 20px;
	border-top-color: #b8e69d;
}

.cl-table-sm.cl-table.cl-table-green > tbody > tr:last-child > td {
	border-bottom: 1px solid #b8e69d;
}

.cl-content-container .cl-checked-list {
	color: #6c6c6c;
}

@media (max-width: 1200px) {
	.cl-header-nav,
	.cl-header-nav li .cl-sub-menu ul li a {
		font-size: 1.000em;
	}

	.cl-footer-container {
		background: linear-gradient(to left, #4ca821 0%, #4ca821 50%, #449b1c 50%);
	}
	.cl-footer-logo-container {
		display: block;
		background-color: #449b1c;
		margin-left: -15px;
	}

	.cl-footer-logo-container {
		display: block;
	}
}

@media (max-width: 992px) {
	body {
		font-size: 14px;
	}

	.cl-header-nav {
		display: block;
	}

	.cl-header-nav,
	.cl-header-nav li .cl-sub-menu ul li a {
		font-size: 0.875em;
	}

	.cl-footer-container {
		background: #4ca821;
	}

	.cl-footer-logo-container {
		display: none;
	}

	.cl-footer-nav {
		display: block;
	}

	.cl-footer-logo-container.pull-left {
		float: left !important;
	}
}

@media (max-width: 768px) {
	body {
		font-size: 12px;
	}

	.cl-menu-open {
		margin-bottom: 0;
	}

	.cl-header-nav {
		display: none;
	}

	.cl-footer-container {
		background: #4ca821;
	}
	.cl-footer-logo-container {
		display: block;
		background-color: #4ca821;
		margin: 0 auto;
	}

	.cl-footer-nav {
		display: none;
	}

	.cl-footer-logo-container.pull-left {
		float: none !important;
	}

	.media-object {
		width: 100%;
	}

	.media-left {
		margin-bottom: 15px;
	}

	.media-left, .media-right, .media-body {
		display: block;
		width: 100%;
	}

	.cl-right-content {
		padding-top: 1px;
		margin-bottom: 4px;
	}
}

@media (min-width: 768px) {
	.container {
		width: 740px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 960px;
	}
}